.venv/
__pycache__/
*.pyc
data/
.env
.pytest_cache/
.env.supabase
.vercel
supabase/.temp
.env*
data/external/
.venv-ml/
*.log
models/**/*.pkl
models/**/*.joblib
models/**/*.h5
models/**/*.keras
models/**/*.pt
models/**/*.safetensors
models/**/*.onnx
